<link href="<?php echo HOME_CSS_PATH ?>starsRating.css" rel="stylesheet" id="bootstrap-css">
<script src="<?php echo HOME_JS_PATH ?>starsRating.js"></script>
<section id="contact-page">
    <div class="container">
        <div class="row contact-wrap"> 
            <div id="content">
                <div class="confDetail">
                   <div class="col-md-10 ">

                    <div class="panel panel-default" >
                      <div class="panel-heading">  <h4 >Details Profile</h4></div>
                       <div class="panel-body">
                           
                        <div class="box box-info">
                                <div class="box-body">
                                    <div class="col-sm-6">
                                    <div  align="center" id="imgAvatar"></div>
                                  <br>
                    
                                </div>
                                <div class="col-sm-6" id="nombreUsu"></div>

                                <div id="rating_freelancer" class="col-md-4">
                                    <div class="wthree-contact-form">
                                        <input id="rating_details" class="rating rating-loading" data-min="0" data-max="5" data-step="0.1" value="2">
                                        <input type="submit" value="VALUE" class="submitRating_stars">
                                    </div>
                                </div>

                                <div class="clearfix"></div>
                                <hr style="margin:5px 0 5px 0;">

                                <div class="col-sm-2 col-xs-6 tital " ><i class="glyphicon glyphicon-calendar"></i></div><div class="col-sm-6" id="date_up"></div>
                                <div class="clearfix"></div>
                                
                                
                                <div class="col-sm-2 col-xs-6 tital " ><i class="glyphicon glyphicon-envelope"></i></div><div class="col-sm-7" id="email"></div>
                                <div class="clearfix"></div>
                                
                                <div class="col-sm-2 col-xs-6 tital " ><i class="glyphicon glyphicon-phone"></i></div><div class="col-sm-7" id="phone"></div>
                                <div class="clearfix"></div>
                                
                                <div class="col-sm-2 col-xs-6 tital " ><i class="glyphicon glyphicon-map-marker"></i></div><div class="col-sm-7" id="city"></div>
                                <div class="clearfix"></div>

                                <div class="col-sm-2 col-xs-6 tital " >Specialist:</div><div class="col-sm-7" id="specialist"></div>
                                <div class="clearfix"></div>

                                <div class="col-sm-2 col-xs-6 tital " >Matters:</div><div class="col-sm-7" id="matters"></div>
                                <div class="clearfix"></div>
                                <hr style="margin:5px 0 5px 0;">
                                <div class="col-sm-9" id=""><div id="map" style="width: 825px; height: 250px; margin-left: -14px;"></div></div>

                                <!-- /.box-body -->
                              </div>
                              <!-- /.box -->
                              
                            </div>
                               <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7pK8OLDa9EXwpugryUfoX1-yKoaoJBiE" async defer></script>
                              
                        </div>

                        </div>

                    </div>           
               </div>   
            </div>
            <script type="text/javascript" src="<?php echo JS_PATH ?>load_data.js" ></script>
            <script type="text/javascript" src="<?php echo HOME_JS_PATH ?>geolocation.js" ></script>
            <script type="text/javascript" src="<?php echo HOME_JS_PATH ?>paintDetails.js" ></script>
        </div>
    </div>
</section>