<link href="<?php echo HOME_CSS_PATH ?>starsRating.css" rel="stylesheet" id="bootstrap-css">
<script src="<?php echo HOME_JS_PATH ?>starsRating.js"></script>
<script src="<?php echo HOME_JS_PATH ?>home.js"></script>
<script src="<?php echo HOME_JS_PATH ?>load-more.js"></script>
<script type="text/javascript" src="<?php echo HOME_JS_PATH ?>autocomplete.js" ></script>

<!-- banner -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1" class=""></li>
		<li data-target="#myCarousel" data-slide-to="2" class=""></li>
		<li data-target="#myCarousel" data-slide-to="3" class=""></li>
		<li data-target="#myCarousel" data-slide-to="4" class=""></li>
	</ol>
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<div class="container">
				<div class="carousel-caption">
					<div class="col-md-6 banner_left">
						<h4>We work hard</h4>
						<h3>Maecenas id justo iaculis sapien <span>accumsan luctus</span> aluis ipsum nibh Pellen tesque felis.</h3>
					</div>
					<div class="col-md-6 banner_right">
						<p>Duis viverra laoreet ante. Curabitur in diamelit blandit tellus sollicitudin sollicitudin felis. Pellentesque neque, aliquam vel nunc et, mollismetus.</p>
						<div class="agileits-button top_ban_agile">
							<a class="btn btn-primary btn-lg" href="#" data-toggle="modal" data-target="#myModal">Read More »</a>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<div class="item item2">
			<div class="container">
				<div class="carousel-caption text-center">
					<h3>Financial Management <span>System.</span></h3>
					<p>sagittis quis turpis vel, facilisis posuere erat. Nulla facilisi. Proin vel commodo leo. Ut mauris tortor, cursus ut massa vitae, iaculis vehicula turpis. Pellentesque blandit egestas risus, in porttitor mi sagittis sed. </p>
					<div class="agileits-button top_ban_agile">
						<a class="btn btn-primary btn-lg" href="#" data-toggle="modal" data-target="#myModal">Read More »</a>
					</div>
				</div>
			</div>
		</div>
		<div class="item item3">
			<div class="container">
				<div class="carousel-caption">
					<h3>Business Analytics  <span>Course.</span></h3>
					<p>sagittis quis turpis vel, facilisis posuere erat. Nulla facilisi. Proin vel commodo leo. Ut mauris tortor, cursus ut massa vitae, iaculis vehicula turpis. Pellentesque blandit egestas risus, in porttitor mi sagittis sed. Vestibulum vestibulum quis metus vitae tincidunt. </p>
					<div class="agileits-button top_ban_agile">
						<a class="btn btn-primary btn-lg" href="#" data-toggle="modal" data-target="#myModal">Read More »</a>
					</div>
				</div>
			</div>
		</div>
		<div class="item item4">
			<div class="container">
				<div class="carousel-caption text-right">
					<h3>Strength Strategy  <span>Solutions.</span></h3>
					<p>sagittis quis turpis vel, facilisis posuere erat. Nulla facilisi. Proin vel commodo leo. Ut mauris tortor, cursus ut massa vitae, iaculis vehicula turpis. Pellentesque blandit egestas risus, in porttitor mi sagittis sed. Vestibulum vestibulum quis metus vitae tincidunt. </p>
					<div class="agileits-button top_ban_agile">
						<a class="btn btn-primary btn-lg" href="#" data-toggle="modal" data-target="#myModal">Read More »</a>
					</div>
				</div>
			</div>
		</div>
		<div class="item item5">
			<div class="container">
				<div class="carousel-caption">
					<h3>Support Management  <span>Service.</span></h3>
					<p>sagittis quis turpis vel, facilisis posuere erat. Nulla facilisi. Proin vel commodo leo. Ut mauris tortor, cursus ut massa vitae, iaculis vehicula turpis. Pellentesque blandit egestas risus, in porttitor mi sagittis sed. Vestibulum vestibulum quis metus vitae tincidunt. </p>
					<div class="agileits-button top_ban_agile">
						<a class="btn btn-primary btn-lg" href="#" data-toggle="modal" data-target="#myModal">Read More »</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		<span class="fa fa-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		<span class="fa fa-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
	<!-- The Modal -->
</div>
<!-- //banner -->
<!-- //search combo -->
<div class="panel-heading well" align="center">
	<h2>Look Experts</h2><br>
    <div class="input-group" >
    	<!--<p><input id="searchText" type="text" class="comboSearch" name="q" placeholder="Search Friends" id="search_key" value=""><button class="btn btn-info " type="submit" style="float: right;">Search</button></p>-->
        <p><input id="searchHome" type="text" class="comboSearch" placeholder="Search" value=""><button class="btn btn-info " id="btn_search" type="submit" style="float: right;">Search</button></p>
    </div>
</div>

<!-- banner bottom -->
<div class="welcome">
	<div class="container">
		<div class="col-md-6 welcome_left">
			<div class="layer1">
				<div class="welcome_left_info">
					<h3>We offer best services</h3>
					<p>Lorem ipsum dolor sit amet aueit, consectetur adipiscing elit. Quisque utrisus eget libero finibus. Etiam malesuada tellus quis posuere eleifend. Donec varius nisi at</p>
					<div class="read">
						<a href="#">Read more »</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 welcome_right">
			<div class="inner_grid1">
				<div class="col-md-2 icon color1">
					<span class="fa fa-file-o" aria-hidden="true"></span>
				</div>
				<div class="col-md-10 grid_info">
					<h3>Financial Executive</h3>
					<p>Lorem ipsum dolor sit amet aueit, consectetur adipiscing elit. Quisque utrisus eget libero finibus. Etiam malesuada tellus quis posuere eleifend. Donec varius nisi at</p>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="inner_grid1">
				<div class="col-md-2 icon color2">
					<span class="fa fa-diamond" aria-hidden="true"></span>
				</div>
				<div class="col-md-10 grid_info">
					<h3>Management System</h3>
					<p>Lorem ipsum dolor sit amet aueit, consectetur adipiscing elit. Quisque utrisus eget libero finibus. Etiam malesuada tellus quis posuere eleifend. Donec varius nisi at</p>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="inner_grid1">
				<div class="col-md-2 icon color3">
					<span class="fa fa-line-chart" aria-hidden="true"></span>
				</div>
				<div class="col-md-10 grid_info">
					<h3>Business Analytics</h3>
					<p>Lorem ipsum dolor sit amet aueit, consectetur adipiscing elit. Quisque utrisus eget libero finibus. Etiam malesuada tellus quis posuere eleifend. Donec varius nisi at</p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- //banner bottom -->

<!-- Professional Freelancer -->
<div class="team" id="team">
	<h3 class="heading">Professional Freelancer</h3>
	<div class="container">
		<div class="flexslider-info">
			<section class="slider">
				<div class="flexslider">
					<ul class="slides">
						<li id="block1"></li>
						<li id="block2"></li>
						<li id="block3"></li>
					</ul>
					
				</div>
			</section>
		</div>
	</div>
</div>
<!-- Professional Freelancer -->

<!-- Services -->
<div class="services" id="services">
	<h3 class="heading">Categories</h3>
	<div class="container-fluid">
		<div class="services_grids">
			<div id="categories"></div>
			<div class="clearfix"> </div>
			

			<div id="container">
				<div id="contact-box">
					<ul id="messages-list"></ul>
				</div>
			</div>
			

		</div>
	</div>
</div>
<!-- //Services -->

<!-- testimonials free consulting -->

<div class="test_consultant">
	<div class="container">
		<!-- Testimonials Slider-->
		<div class="slider col-md-6">
			<h3 class="heading">Happy Clients</h3>
				<div class="callbacks_container">
					<ul class="rslides callbacks callbacks1" id="slider4">
						<li>
							<div class="testimonial"><div class="col-md-3 test_img"><img src="" id="client1" alt="client1" /></div>
							<div class="col-md-9 test_info"><h4 id="client1"></h4><h5 id="client1"></h5></div><div class="clearfix"></div>
							<p id="client1"></p></div>
						</li>
						<li>
							<div class="testimonial"><div class="col-md-3 test_img"><img src="" id="client2" alt="client2" /></div>
							<div class="col-md-9 test_info"><h4 id="client2"></h4><h5 id="client2"></h5></div><div class="clearfix"></div>
							<p id="client2"></p></div>
						</li>
						<li>
							<div class="testimonial"><div class="col-md-3 test_img"><img src="" id="client3" alt="client3" /></div>
							<div class="col-md-9 test_info"><h4 id="client3"></h4><h5 id="client3"></h5></div><div class="clearfix"></div>
							<p id="client3"></p></div>
						</li>
						
					</ul>
		<div class="clearfix"> </div>
				</div>
		</div>
		<!-- //Testimonials Slider-->
		
		<!-- Free consulting -->
		<div class="consulting col-md-6">
			<h3 class="heading">Valora nuestra web</h3>
			<div class="wthree-contact-form">
    			<input id="value_stars" class="rating rating-loading" data-min="0" data-max="5" data-step="0.1" value="2">
				<textarea id="message_stars" placeholder="Your message from our website"></textarea>
				<input type="submit" value="VALUE" class="submitStars">
			</div>
		</div>

		<!-- //Free consulting -->
		<div class="clearfix"> </div>
	</div>
</div>
<!-- testimonials free consulting -->

<!-- counter -->
<div class="services-bottom stats">
	<div class="banner-dott1">
		<div class="container">
			<h3 class="heading">Our Statistics</h3>
		  <div class="wthree-agile-counter">
		  <div class="col-md-3 w3_agile_stats_grid-top">
			<div class="w3_agile_stats_grid">
				<div class="agile_count_grid_left">
				<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
				</div>
				<div class="agile_count_grid_right sta_cli">
					 <p class="counter" id="countClient"></p>
				</div>
				<div class="clearfix"> </div>
				<h4>Best clients</h4>
			</div>
		</div>
		<div class="col-md-3 w3_agile_stats_grid-top">
			<div class="w3_agile_stats_grid">
				<div class="agile_count_grid_left">
					<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
				</div>
				<div class="agile_count_grid_right sta_free">
					<p class="counter" id="countFreelancer"></p>
				</div>
				<div class="clearfix"> </div>
				<h4>Freelancer</h4>
			</div>
		</div>
		<div class="col-md-3 w3_agile_stats_grid-top">
			<div class="w3_agile_stats_grid">
				<div class="agile_count_grid_left">
					<span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
				</div>
				<div class="agile_count_grid_right">
					<p class="counter">434</p> 
				</div>
				<div class="clearfix"> </div>
				<h4>Projects Worked</h4>
			</div>
		</div>
		<div class="col-md-3 w3_agile_stats_grid-top">
			<div class="w3_agile_stats_grid">
				<div class="agile_count_grid_left">
					<span class="fa fa-trophy" aria-hidden="true"></span>
				</div>
				<div class="agile_count_grid_right">
					<p class="counter">234</p> 
				</div>
				<div class="clearfix"> </div>
				<h4>Winning Awards</h4>
			</div>
		</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	</div>
</div>
<!-- //counter -->

<!-- /newsletter-->
<div class="newsletter_w3layouts_agile">
	<div class="col-sm-6 newsleft">
		<h3>Sign up for Newsletter !</h3>
	</div>
	<div class="col-sm-6 newsright">
		<form action="#" method="post">
			<input type="email" placeholder="Enter your email..." name="email" required="">
			<input type="submit" value="Submit">
		</form>
	</div>
	<div class="clearfix"></div>
</div>
<!-- //newsletter-->
