<link href="<?php echo HOME_CSS_PATH ?>style_list.css" rel="stylesheet" type="text/css" media="all" />
<section id="contact-page">
    <div class="container">
        <div class="row contact-wrap"> 
            <div class="container">
			    <div class="row">
			    	<div class="well">
			    		<h3 class="text-center">Filters</h3>
			    		<select id="filter_especial"><option value="" selected="">Select category</option></select>
			    		<select id="filter_especialista"><option value="" selected="">Select especialista</option></select>
			    		<select id="filter_province"><option value="" selected="">Select province</option></select>
			    		<button type="submit" class="btn btn-info submitFilter" style="float: right;">Aplicar Filtros</button>
			    		<p>
							<input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold; background: #f5f5f5;">
						</p>
			    		<div id="slider-range" style="width: 200px;"></div>
			    		
			    	</div>
					<div class="well">
						<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7pK8OLDa9EXwpugryUfoX1-yKoaoJBiE" async defer></script>
                        <div id="map" style="width: 250px; height: 250px; float: left;"></div>

						<div id="listing">
					      <table id="resultsTable">
					        <div id="tabla">
					        	<tbody id="results"></tbody>
					        </div>
					      </table>
					    </div>

			        <h1 class="text-center">List Freelancer</h1>
			        <!-- //search combo -->
					<div class="panel-heading" align="center">
					    <div class="input-group" >
					        <p><input id="searchHome" type="text" class="comboSearch" placeholder="Search" value=""><button class="btn btn-info " id="btn_search" type="submit" style="float: right;">Search</button></p>
					    </div>
					</div>
					<div class="clearfix"></div>
			        <div class="list-group">
			        	<div id="listar"></div>
			        	<div id="paginations" style="margin-left: 500px;"></div>
			        	<div id="pagination_filter" style="margin-left: 500px;"></div>
			        			          
			        </div>
			        </div>
				</div>
			</div>
            <script type="text/javascript" src="<?php echo HOME_JS_PATH ?>geolocation.js" ></script>
            <script type="text/javascript" src="<?php echo HOME_JS_PATH ?>listUser.js" ></script>
            <script type="text/javascript" src="<?php echo HOME_JS_PATH ?>pagination.js" ></script>
			<script type="text/javascript" src="<?php echo HOME_JS_PATH ?>autocomplete.js" ></script>
        </div>
    </div>
</section>