<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
<div  style="margin-left: 800px;" class="LI-profile-badge"  data-version="v1" data-size="large" data-locale="es_ES" data-type="vertical" data-theme="dark" data-vanity="joan-montés-doria-811188148"><a class="LI-simple-link" href='https://es.linkedin.com/in/joan-mont%C3%A9s-doria-811188148?trk=profile-badge'>Joan Montés Doria</a></div>