<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!-- banner bottom -->
<div class="welcome">
	<div class="container">
		<div class="col-md-6 welcome_left">
			<div class="layer1">
				<div class="welcome_left_info">
					<h3>We offer best services</h3>
					<p>Lorem ipsum dolor sit amet aueit, consectetur adipiscing elit. Quisque utrisus eget libero finibus. Etiam malesuada tellus quis posuere eleifend. Donec varius nisi at</p>
					<div class="read">
						<a href="about.html">Read more »</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 welcome_right">
			<div class="inner_grid1">
				<div class="col-md-2 icon color1">
					<span class="fa fa-file-o" aria-hidden="true"></span>
				</div>
				<div class="col-md-10 grid_info">
					<h3>Financial Executive</h3>
					<p>Lorem ipsum dolor sit amet aueit, consectetur adipiscing elit. Quisque utrisus eget libero finibus. Etiam malesuada tellus quis posuere eleifend. Donec varius nisi at</p>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="inner_grid1">
				<div class="col-md-2 icon color2">
					<span class="fa fa-diamond" aria-hidden="true"></span>
				</div>
				<div class="col-md-10 grid_info">
					<h3>Management System</h3>
					<p>Lorem ipsum dolor sit amet aueit, consectetur adipiscing elit. Quisque utrisus eget libero finibus. Etiam malesuada tellus quis posuere eleifend. Donec varius nisi at</p>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="inner_grid1">
				<div class="col-md-2 icon color3">
					<span class="fa fa-line-chart" aria-hidden="true"></span>
				</div>
				<div class="col-md-10 grid_info">
					<h3>Business Analytics</h3>
					<p>Lorem ipsum dolor sit amet aueit, consectetur adipiscing elit. Quisque utrisus eget libero finibus. Etiam malesuada tellus quis posuere eleifend. Donec varius nisi at</p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- //banner bottom -->

<!-- Who we are -->
<div class="who">
	<div class="layer">
		<h3 class="heading">About Us</h3>
		<div class="container">
			<div class="who_grids">
				<div class="col-md-6 who_grid_left">
					<h3>Who we are</h3>
					<h4>Lorem ipsum dolor sit amet aueit, consectetur in adipiscing elit. Quisque utrisus eget libero. </h4>
					<p>Lorem ipsum dolor sit amet aueit, consectetur adipiscing elit. Quisque elit utrisus eget libero finibus. Etiam malesuada tellus quis posuere eleifend. Donec varius nisi at luctus.</p>
					<p class="listing"><i class="fa fa-chevron-right" aria-hidden="true"></i> Auisque elit utrisus eget libero finibus. luctus a elit.</p>
					<p class="listing"><i class="fa fa-chevron-right" aria-hidden="true"></i> Ruisque elit utrisus eget libero finibus et.</p>
					<p class="listing"><i class="fa fa-chevron-right" aria-hidden="true"></i> Muisque elit utrisus eget libero finibus.</p>
					<div class="read">
						<a href="#" data-toggle="modal" data-target="#myModal">Read more »</a>
					</div>
				</div>
				<div class="col-md-6 who_grid_right">
					<p>Lorem ipsum dolor sit amet aueit, consectetur adipiscing elit. Quisque elit utrisus eget libero finibus. Etiam malesuadaeni tellus quis posuere eleifend. Donec varius at luctus et.</p>
					<div class="bar-grids">
						<h6>Management<span> 90% </span></h6>
						<div class="progress">
							<div class="progress-bar bar1 progress-bar-striped active" style="width: 90%">
							</div>
						</div>
						<div class="mid-bar">
							<h6>Marketing<span> 75% </span></h6>
							<div class="progress">
								<div class="progress-bar bar2 progress-bar-striped active" style="width: 75%">
								</div>
							</div>
						</div>
						<div class="mid-bar">
							<h6>Strategy<span>80% </span></h6>
							<div class="progress">
								<div class="progress-bar bar3 progress-bar-striped active" style="width: 80%">
								</div>
							</div>
						</div>
						<h6>Deployment<span>95% </span></h6>
						<div class="progress">
							<div class="progress-bar bar4 progress-bar-striped active" style="width: 95%">
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>
<!-- //Who we are -->

<!-- pricing plans -->
<div class="pricing">
	<h3 class="heading">Pricing Plans</h3>
	<div class="container">
		<div class="w3l-pricing-grids">
			<div class="agileits-pricing-grid first">
				<div class="pricing_grid">
					<div class="pricing-top">
						<h3>Corporate</h3>
					</div>
						<div class="wthree-pricing-info">
							<p>$<span>50</span>/month</p>
						</div>
					<div class="pricing-bottom">
						<div class="pricing-bottom-bottom">
							<p><span>Unlimited</span> Email Addresses</p>
							<p><span>65GB </span> of Storage</p>
							<p><span>1</span> Website</p>  
							<p><span>Unlimited</span> Bandwidth</p>
							<p class="text"><span>24/7</span> Customer Support</p>
						</div>
						<div class="buy-button">
							<a class="popup-with-zoom-anim" href="#small-dialog">Sign Up »</a>
						</div>
					</div>
				</div>
			</div>
			<div class="agileits-pricing-grid second">
				<div class="pricing_grid">
					<div class="pricing-top blue-top">
						<h3>Personal</h3>
					</div>
						<div class="wthree-pricing-info blue-top">
							<p>$<span>35</span>/month</p>
						</div>
					<div class="pricing-bottom">
						<div class="pricing-bottom-bottom blue-pricing-bottom-top">
							<p><span>Unlimited</span> Email Addresses</p>
							<p><span>50GB </span> of Storage</p>
							<p><span>1</span> Website</p>  
							<p><span>Unlimited</span> Bandwidth</p>
							<p class="text"><span>24/7</span> Customer Support</p>
						</div>
						<div class="buy-button">
							<a class="popup-with-zoom-anim" href="#small-dialog">Sign Up »</a>
						</div>
					</div>
				</div>
			</div>
			<div class="agileits-pricing-grid third">
				<div class="pricing_grid">
					<div class="pricing-top green-top">
						<h3>Professional</h3>
					</div>
						<div class="wthree-pricing-info green-top">
							<p>$<span>70</span>/month</p>
						</div>
					<div class="pricing-bottom">
						<div class="pricing-bottom-bottom green-pricing-bottom-top">
							<p><span>Unlimited</span> Email Addresses</p>
							<p><span>85GB </span> of Storage</p>
							<p><span>1</span> Website</p>  
							<p><span>Unlimited</span> Bandwidth</p>
							<p class="text"><span>24/7</span> Customer Support</p>
						</div>
						<div class="buy-button">
							<a class="popup-with-zoom-anim" href="#small-dialog">Sign Up »</a>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- //pricing plans -->

<!-- /newsletter-->
<div class="newsletter_w3layouts_agile">
	<div class="col-sm-6 newsleft">
		<h3>Sign up for Newsletter !</h3>
	</div>
	<div class="col-sm-6 newsright">
		<form action="#" method="post">
			<input type="email" placeholder="Enter your email..." name="email" required="">
			<input type="submit" value="Submit">
		</form>
	</div>

	<div class="clearfix"></div>
</div>
<!-- //newsletter-->

<!--pop-up-grid-->
<div id="popup">
	<div id="small-dialog" class="mfp-hide">
		<div class="signin-form profile">
			<h3>Sign Up</h3>
			<div class="login-form">
				<form action="#" method="post">
					<input type="email" name="email" placeholder="E-mail" required="">
					<input type="text" name="name" placeholder="Username" required="">
					<input type="password" name="password" placeholder="Password" required="">
					<input type="password" name="password" placeholder="Confirm Password" required="">
					<input type="submit" value="Sign Up">
				</form>
			</div>
		</div>
	</div>
</div>						
<!--pop-up-grid-->