<section id="contact-page">
    <div class="container">
        <div class="row contact-wrap"> 
            <div id="content">
                <div class="w3l-info1">
                    <div class="col-md-6">
                        <div class="col-md-7 team-grid-2">
                            <h4 id="name"></h4>
                            <h5 id="category"></h5>
                            <div id="ubication"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-5 team-grid-1">
                            <div id="avatar"></div>

                        </div>
                        <div class="clearfix"></div>
                        <p>Gracias por registrarte en nuestra web.</p>
                    </div>
                </div>       
            </div>
            <script type="text/javascript" src="<?php echo PROFILE_JS_PATH ?>paintUserData.js" ></script>
        </div>
    </div>
</section>