<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
	
<!-- contact -->
<script type="text/javascript" src="<?php echo CONTACT_JS_PATH ?>contact.js" ></script>
<section class="contact" id="contact">
	<div class="container">
		<div class="contact-heading">
			<h3 class="heading">Contact us</h3>
		</div>
		<div class="contact-grids">
			<div class=" col-md-5 contact-form">
			<h4 class="heading">Free consulting</h4>
				
					<input type="text" placeholder="Full Name" id="name_contact" />
					<input type="email" placeholder="Your Mail" id="email_contact"/>
					<div class="control-group">
			            <select class="form-control" id="subject_contact" title="Choose subject">
			                <option value="compra">Info relativa a su compra</option>
			                <option value="evento">Celebra un evento con nosotros</option>
			                <option value="programacion">Contacta con nuestro dpto de programacion</option>
			                <option value="Trabaja">Trabaja con nosotros</option>
			                <option value="proyectos">Deseas proponernos proyectos</option>
			                <option value="sugerencias">Haznos sugerencias</option>
			                <option value="reclamaciones">Atendemos tus reclamaciones</option>
			                <option value="club">Club freelancer</option>
			                <option value="sociales">Proyectos sociales</option>
			                <option value="festivos">Apertura de festivos</option>
			                <option value="novedades">Te avisamos de nuestras novedades</option>
			                <option value="diferente">Algo diferente</option>
			            </select>
			        </div>
					<textarea placeholder="Message" id="msg_contact"></textarea>
					
					<button type="submit" class="submitConsulting">Sent</button>
					<img src="<?php echo MEDIA_PATH; ?>ajax-loader.gif" alt="ajax loader icon" class="ajaxLoader" height="250" width="250"/><br/><br/>
				
			</div>

			<!-- google maps -->
			<div class=" col-md-7 map">
				<style>
			      #map {
			        height: 400px;
			        width: 100%;
			       }
			    </style>

				<div id="map"></div>
			    <script>
			      function initMap() {
			        var uluru = {lat: 38.820785, lng: -0.610514};
			        var map = new google.maps.Map(document.getElementById('map'), {
			          zoom: 13,
			          center: uluru
			        });
			        var marker = new google.maps.Marker({
			          position: uluru,
			          map: map
			        });
			      }
			    </script>
			    <script async defer
			    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7pK8OLDa9EXwpugryUfoX1-yKoaoJBiE&callback=initMap">
			    </script>

				<div class="col-md-4 contact-grid1">
					<i class="fa fa-map-marker" aria-hidden="true"></i>
					<div class="contact-right">
						<p>Address</p>
						<span>3241 USA, Collection building, <span>New York City.</span></span>
					</div>
				</div>
				<div class="col-md-4 contact-grid1">
					<i class="fa fa-phone" aria-hidden="true"></i>
					<div class="contact-right">
						<p>Phone</p>
						<span>+1(01) 24-212-5665</span>
						<span>+1(01) 24-212-5666</span>
					</div>
				</div>
				<div class="col-md-4 contact-grid1">
					<i class="fa fa-envelope" aria-hidden="true"></i>
					<div class="contact-right">
						<p>Email</p>
						<a href="mailto:info@example.com">info@example.com</a>
						<a href="mailto:info@example1.com">info@example1.com</a>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</section>
<!-- //contact -->

<!-- /newsletter-->
	<div class="newsletter_w3layouts_agile">
		<div class="col-sm-6 newsleft">
			<h3>Sign up for Newsletter !</h3>
		</div>
		<div class="col-sm-6 newsright">
			<form action="#" method="post">
				<input type="email" placeholder="Enter your email..." name="email" required="">
				<input type="submit" value="Submit">
			</form>
		</div>

		<div class="clearfix"></div>
	</div>
<!-- //newsletter-->