<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!-- services -->
<div class="services">
	<div class="container">
		<h3 class="heading">Professional Services</h3>
			<div class="service_grids">
				<div class="col-md-3 service_grid1">
					<img src="<?php echo MEDIA_PATH ?>serv1.jpg" alt="service1" />
				</div>
				<div class="col-md-3 service_grid2">
					<h3>Business Strategy</h3>
					<p>Nulla facilisi. Proin vel commodo leo. Ut mauris tortor, cursus ut massa vitae, iaculis vehicula turpis. Nam libero tempor.</p>
					<div class="read">
						<a href="#" data-toggle="modal" data-target="#myModal">Read more »</a>
					</div>
				</div>
				<div class="col-md-3 service_grid1">
					<img src="<?php echo MEDIA_PATH ?>serv3.jpg" alt="service2" />
				</div>
				<div class="col-md-3 service_grid2">
					<h3>Financial Solutions</h3>
					<p>Nulla facilisi. Proin vel commodo leo. Ut mauris tortor, cursus ut massa vitae, iaculis vehicula turpis. Nam libero tempor.</p>
					<div class="read">
						<a href="#" data-toggle="modal" data-target="#myModal">Read more »</a>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="col-md-3 service_grid2">
					<h3>Business Solutions</h3>
					<p>Nulla facilisi. Proin vel commodo leo. Ut mauris tortor, cursus ut massa vitae, iaculis vehicula turpis. Nam libero tempor.</p>
					<div class="read">
						<a href="#" data-toggle="modal" data-target="#myModal">Read more »</a>
					</div>
				</div>
				<div class="col-md-3 service_grid1">
					<img src="<?php echo MEDIA_PATH ?>serv2.jpg" alt="service1" />
				</div>
				<div class="col-md-3 service_grid2">
					<h3>24/7 Support</h3>
					<p>Nulla facilisi. Proin vel commodo leo. Ut mauris tortor, cursus ut massa vitae, iaculis vehicula turpis. Nam libero tempor.</p>
					<div class="read">
						<a href="#" data-toggle="modal" data-target="#myModal">Read more »</a>
					</div>
				</div>
				<div class="col-md-3 service_grid1">
					<img src="<?php echo MEDIA_PATH ?>serv4.jpg" alt="service2" />
				</div>
				<div class="clearfix"></div>
			</div>
	</div>
</div>
<!-- //services -->


<!-- counter -->
<div class="services-bottom stats">
	<div class="banner-dott1">
		<div class="container">
			<h3 class="heading">Our Statistics</h3>
		  <div class="wthree-agile-counter">
		  <div class="col-md-3 w3_agile_stats_grid-top">
			<div class="w3_agile_stats_grid">
				<div class="agile_count_grid_left">
				<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
				</div>
				<div class="agile_count_grid_right">
					<p class="counter">324</p> 
				</div>
				<div class="clearfix"> </div>
				<h4>Best clients</h4>
			</div>
		</div>
		<div class="col-md-3 w3_agile_stats_grid-top">
			<div class="w3_agile_stats_grid">
				<div class="agile_count_grid_left">
					<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
				</div>
				<div class="agile_count_grid_right">
					<p class="counter">543</p> 
				</div>
				<div class="clearfix"> </div>
				<h4>Happy Customers</h4>
			</div>
		</div>
		<div class="col-md-3 w3_agile_stats_grid-top">
			<div class="w3_agile_stats_grid">
				<div class="agile_count_grid_left">
					<span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
				</div>
				<div class="agile_count_grid_right">
					<p class="counter">434</p> 
				</div>
				<div class="clearfix"> </div>
				<h4>Projects Worked</h4>
			</div>
		</div>
		<div class="col-md-3 w3_agile_stats_grid-top">
			<div class="w3_agile_stats_grid">
				<div class="agile_count_grid_left">
					<span class="fa fa-trophy" aria-hidden="true"></span>
				</div>
				<div class="agile_count_grid_right">
					<p class="counter">234</p> 
				</div>
				<div class="clearfix"> </div>
				<h4>Winning Awards</h4>
			</div>
		</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	</div>
</div>
<!-- //counter -->

<!-- /newsletter-->
	<div class="newsletter_w3layouts_agile">
		<div class="col-sm-6 newsleft">
			<h3>Sign up for Newsletter !</h3>
		</div>
		<div class="col-sm-6 newsright">
			<form action="#" method="post">
				<input type="email" placeholder="Enter your email..." name="email" required="">
				<input type="submit" value="Submit">
			</form>
		</div>

		<div class="clearfix"></div>
	</div>
<!-- //newsletter-->